<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>course_name</title>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}main.css">
    <link href="{$Think.const.ADMIN_CSS_URL}/page.css" rel="stylesheet">
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.js'></script>

</head>
<body>
	
    <foreach name = 'course_name' item = 'voo'>
        <div class="class-media" id="class-media">
			<div class="media">
            <!--<div id='.class-href'>{$Think.const.SITE_URL}index.php/Student/CourseChapter/index/course_name_id/{$voo.course_name_id}</div>-->
            {/**这里是跳转到课程列表的链接，例如，跳转到高等数学课程Chapter的网页链接,course_name_code是该课程在数据表里面的代码，也可以用ID表示，实际上与ID值course_name_id相同*/}
            <a class="media-left" href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/index/course_name_id/{$voo.course_name_id}" target="_blank">
                <img src="{$Think.const.ADMIN_IMG_UPLOADS}{$voo.course_name_pic}" alt="..." width="260px" height="150px">
            </a>
            <div class="media-body">
               <p class="class-media-name">
                    <a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/index/course_name_id/{$voo.course_name_id}" target="_blank" style="text-decoration: none;">
                    <span>{$voo.course_name_name}</span>
					</a>
				</p>
                <p class="class-media-teacher">
                    <a class="media-left" href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/index/course_name_id/{$voo.course_name_id}" target="_blank" style="text-decoration: none;">
                        <span>讲师/主讲人：{$voo.course_name_adder}</span>
					</a>	
				</p>
                <p class="class-media-contain">
				<a class="media-left" href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/index/course_name_id/{$voo.course_name_id}" target="_blank" style="text-decoration: none;">
                        <span>课程简介：{$voo.course_name_intro}<span>
				</a>
				</p>
                <div class="row class-media-student">
                <div class="col-lg-3"><i class="glyphicon glyphicon-user"></i>&nbsp;<span>{$voo.course_choosed_count}人学习</span></div>
                <div class="col-lg-3 class-media-time"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;<span>共{$voo.course_chapter_count}节</span></div>
                </div>
            </div>
        </div>
		</div>
    </foreach>
	<div class = "pages"><div class='page-contain center-block'>{$page}</div></div>
    <script>
	$(window.parent.document).find("#CourseList").load(function(){
	var main = $(window.parent.document).find("#CourseList");
	var thisheight = $(document).height();
	main.height(thisheight);
	});
	$(".class-media-contain").each(function(){
        var maxwidth=142;
        if($(this).text().length>maxwidth){ $(this).text($(this).text().substring(0,maxwidth)); $(this).html($(this).html()+'…');
        }
    });
	var spancurrent = $('span.current').width();
	if(spancurrent != null){spancurrent = 28;}
	var aprev = $('a.prev').width();
	if(aprev != null){aprev = 62;console.log()}
	var alength = $('a.num').length;
	var anum = $('a.num').width();
	if(anum != null){anum = 32;}
	var anext = $('a.next').width();
	if(anext != null){anext = 62;}
	var lirows = $('li.rows').width();
	var pageWidth = aprev+(anum*alength)+anext+lirows+spancurrent+35;
	$('div.page-contain').css('width',pageWidth);
	</script>
    
</body>
</html>