<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bottom</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}main.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}swiper-3.4.0.min.css">
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.js'></script>
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.adaptive-backgrounds.js'></script>
	<script src="{$Think.const.ADMIN_ROOT_URL}layui/lay/dest/layui.all.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){
            $.adaptiveBackground.run();	
        });

    </script>

</head>
<body>
    <div>
    	<p>这里是bottom，之后要复用的，不用每个网页的写一遍</p>
    	<div><a href="{$Think.const.SITE_URL}index.php/Admin/AdminUser/login" target="_blank">管理员登录</a></div>
    </div>
    
    
    
    

<script src="{$Think.const.ADMIN_JS_URL}swiper-3.4.0.jquery.min.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}imgturn.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}layer.js"></script>
</body>
</html>