<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="Public/css/bootstrap.min.css">
    <link rel="stylesheet" href="Public/css/main.css">
</head>
<body>
    <div class="header-top">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <img src="Public/images/logo.png" alt="">
            </div>
            <div class="col-md-4">
                <ul class="list-inline">
                    <li><a class="ul-a" href="#">首页</a></li>
                    <li><a class="ul-a" href="#">课程</a></li>
                    <li><a class="ul-a1" href=""><span class="glyphicon glyphicon-phone"></span>客户端</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="search">
                    <div>
                        <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                <div>
            </div>
        </div>
        <div class="login">
               <a href="#">登录</a>
               <span>&nbsp;|&nbsp;</span>
               <a href="#">注册</a>
               </div>
        </div>
    </div>
</body>
</html>