
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="Public/css/swiper-3.4.0.min.css">
    <link rel="stylesheet" href="Public/css/main.css">
</head>
<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="Public/images/1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="Public/images/2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="Public/images/3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="Public/images/4.jpg" alt=""></div>
        <div class="swiper-slide"><img src="Public/images/5.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<!-- Swiper JS -->
<script src="Public/js/jquery.js"></script>
<script src="Public/js/swiper-3.4.0.jquery.min.js"></script>

<!-- Initialize Swiper -->
<script src="Public/js/imgturn.js"></script>
</body>
</html>