<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
	<meta name="renderer" content="webkit">
	<link rel="icon" href="{$Think.const.SITE_URL}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}main.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}swiper-3.4.0.min.css">
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.js'></script>
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.adaptive-backgrounds.js'></script>
	<script src="{$Think.const.ADMIN_ROOT_URL}layui/lay/dest/layui.all.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){
            $.adaptiveBackground.run();	
        });

    </script>

</head>
<body>
	{/*包含header.html模板*/}
	<include file="Public/header" />
	{/*轮播图*/}
    <div class='imgturn-container'>
    	<iframe id="imgTurn" scrolling="no" frameborder="0" src="{$Think.const.SITE_URL}index.php/Student/Index/imgturn" name="imgturn" width="100%"></iframe>
    </div>
    {/**这里是精品推荐的iframe*/}
    <div>
    	<iframe id="recommended" scrolling="no" frameborder="0" src="{$Think.const.SITE_URL}index.php/Student/Recommended/recommended" name="recommended" width='100%' height='500px'></iframe>
    </div>
    {/**这里是热门课程的iframe*/}
    <div class='hotCourse-container'>
    	<iframe id="hotCourse" scrolling="no" frameborder="0" src="{$Think.const.SITE_URL}index.php/Student/HotCourse/hotCourse" name="hotCourse" width='100%'></iframe>
    </div>
    {/*这里放置的是bottom*/}
   <include file="Public/footer" />
    
<script>
$("#hotCourse").load(function(){
var mainheight = $(this).contents().find("body").height();
$(this).height(mainheight);
}); 
$("#imgTurn").load(function(){
var mainheight = $(this).contents().find("body").height();
$(this).height(mainheight);
}); 
</script>
<script src="{$Think.const.ADMIN_JS_URL}swiper-3.4.0.jquery.min.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}imgturn.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}layer.js"></script>
</body>
</html>