<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}main.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}swiper-3.4.0.min.css">
</head>
<body>
    <div class="header-top">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <img src="{$Think.const.ADMIN_IMG_URL}logo.png" alt="">
        </div>
        <div class="col-md-4">
            <ul class="list-inline">
                <li><a class="ul-a" href="#">首页</a></li>
                <li><a class="ul-a" href="#">课程</a></li>
                <li><a class="ul-a1" href=""><span class="glyphicon glyphicon-phone"></span>客户端</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="search">
                <div>
                    <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div class="login">
                <a href="#">登录</a>
                <span>&nbsp;|&nbsp;</span>
                <a href="#">注册</a>
            </div>
        </div>
    </div>
    <div class="imgturn">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href='#'><img src="{$Think.const.ADMIN_IMG_URL}1.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href='#'><img src="{$Think.const.ADMIN_IMG_URL}2.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href='#'><img src="{$Think.const.ADMIN_IMG_URL}3.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href='#'><img src="{$Think.const.ADMIN_IMG_URL}4.jpg" alt=""></a></div>
                <div class="swiper-slide"><a href='#'><img src="{$Think.const.ADMIN_IMG_URL}5.jpg" alt=""></a></div>
            </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
        </div>
    </div>

<script src="{$Think.const.ADMIN_JS_URL}jquery.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}swiper-3.4.0.jquery.min.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}imgturn.js"></script>
</body>
</html>