<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>首页-湖大在线学习平台</title></head>
  
  <body>
    <p>
      <a href="index.html">logo图片</a></p>
    <p>
      <a href="index.html">课程</a></p>
    <p>
      <a href="index.html">客户端下载</a></p>
    <form name="form1" method="post" action="">
      <label for="search">搜索框</label>
      <input type="text" name="search" id="search"></form>
    <p>
      <a href="index.html">登录</a>|
      <a href="index.html">注册</a></p>
    <p>&nbsp;</p>
    <p>图片轮播区域，三张图片左右轮播</p>
    <p>&nbsp;</p>
    <p>
      <strong>热门课程</strong></p>
    <div>
      <a href="#">
        <div>
          <img src="" height="150" width="180">
          <div>
            <h3>课程一</h3>
            <p>课程一学是。。。</p>
          </div>
          <div>
            <span>评分：4.5颗星</span>
            <span>50人在学</span>
          </div>
        </div>
      </a>
    </div>
    <p>
      <a href="index.html">查看全部课程</a></p>
    <p>&nbsp;</p>
    <p>bottom部分</p>
  </body>

</html>