<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}bootstrap.min.css">
    <style>
        .login-form{
            width:400px;
            height:300px;
            padding: 20px;
        }
        .login-form .yanzhen{
            width:280px;
            float: left;
        }
        .login-form .ma{
            width:80px;
            float: right;
        }
    </style>
</head>
<body>
<form class="login-form" name="login" method="post" action="index.php/Student/StudentUser/login">
    <p>
        <label class="sr-only" for="student_user_email">Email address</label>
        <input type="email" class="form-control" id="student_user_email" placeholder="邮箱" name="student_user_email">
    </p>
    <p>
        <label class="sr-only" for="student_user_pwd">Email address</label>
        <input type="password" class="form-control" id="student_user_pwd" placeholder="密码" name="student_user_pwd">
    </p>
    <!-- 下面验证码如果直接使用AdminUser控制器里面书写的verifyImg方法 就需要跨分组调用,为逻辑简单，我们在Student写一个一模一样的验证码教研方法-->
    <div>

        <div class="yanzhen">
        <input type="text" class="form-control"  placeholder="填写右侧的验证码" name="code" data-validate="required:请填写右侧的验证码">
        </div>
        <!-- 这里的验证码直接用ThinkPHP的变量替换 -->
        <div class="ma">
        <img src="index.php/Student/StudentUser/verifyImg" alt=""  height="32" class="passcode" style="height:43px;cursor:pointer;" onclick="this.src=this.src+'?'">
        </div>
        </div>

    <p>
        <button type="submit" class="btn btn-primary btn-lg btn-block" name="submit" id="submit" >点击登录</button>
    </p>

</form>
</body>
</html>