# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

#自定义忽略的文件/文件夹
/Admin/Runtime/
/Hubu/Runtime/
/Student/Runtime/
/Teacher/Runtime/
/.settings/
.buildpath
.project
*.log

#MySQL数据库数据文件 只同步hubuedu的相关文件

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.log
*.log
