body{
    font-family: "Microsoft YaHei";
    padding: 0;
    margin: 0;
}
div{
	padding: 0;
    margin: 0;
}
a{text-decoration:none}
/*头部导航*/
.header-top{
    width: 100%;
    height: 100%;
    background: #1e6f46;
}
.header-top .row{
    width: 1300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.header-top .row img{
     width: 255px;
     height: 76px;
     margin-top: 12px;
}
.header-top .logo{
    padding-right: 0;
}
.header-top .head{
    padding-left: 0;
}
.header-top .search-login{
    padding-left: 35px;
}
.header-top .row ul{
    width: auto;
    height:100px;
}
.header-top .row li{
    width: 100px;
    height: 100px;
}
.header-top .row .ul-a{
    text-decoration:none;
    color: white;
    font-size: 21px;
    position: relative;
    top: 33px;
    left: 23px;
}
.header-top .row .ul-a1{
    text-decoration:none;
    color: white;
    font-size: 21px;
    position: relative;
    top: 33px;
    left: 1px;
}
.header-top .row li:hover{
    background: #126141;
}
.header-top .row .search{
    width: 50%;
    height: auto;
    position: relative;
    top: 33px;
    left: 10px;
}
.header-top .row .login{
    width: 40%;
    height: auto;
    position: relative;
    top: 5px;
    left: 250px;
}
.header-top .row .login a{
    text-decoration:none;
    color: lightgoldenrodyellow;
    font-size: 16px;
}
.header-top .row .login span{
    color: white;
}
.header-top .row .login-1{
    width: 40%;
    height: auto;
    position: relative;
	top: -20px;
    left: 220px;
}
.header-top .row .login-1 a{
    text-decoration:none;
    color: lightgoldenrodyellow;
    font-size: 16px;
}
.header-top .row .login-1 span{
    color: white;
}
.header-top .row .login-1 img{
    width:40px;
}
/*图片轮播*/
.swiper-container {
    width: 100%;
    height: 490px;
    margin-left: auto;
    margin-right: auto;
	position:relative;
	top:-22px;
}
.swiper-slide {
    width: 1205px;
    height: 490px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    -webkit-justify-content: center;
}
.swiper-slide img{
    height: 100%;
	display:block;
}

/*登录页面*/
.login-form{
    width:400px;
    height:auto;
    padding: 20px;
}
.login-form .yanzhen{
    width:210px;
    float: left;
}
.login-form .ma{
    float: right;
}
.login-form .form-control{
	height:43px;
}
#login-div-1{
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
#login-div-2{
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

/*课程页面*/
.m-nav{
    width: 930px;
    height: 129px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 5px;
    padding-right: 5px;
    background: #f7f7f7;
}
.m-nav span{
    font-size: 16px;
    color: #333;
}
.m-nav .btn-group a{
    text-decoration: none;
}
.m-nav i{
    color: #333;
}
/*课程展示页面*/
.hd-fix{
    width: 1200px;
    height: 212px;
    margin-left: auto;
    margin-right: auto;
    background: black;
}
.hd-fix .hd-title h2{
    font-size: 32px;
    line-height:31px;
    color: #fff;
}
.hd-fix .hd-title{
    position: relative;
    top: 40px;
    left: 30px;
}
.hd-fix .hd-check{
    position: relative;
    top: 80px;
    left: 30px;
}




/*footer*/

#footer {
    padding: 24px 0 0
}
#footer .footer-main {
    background:  #dedada;
    padding: 15px 0 0px
}
#footer .footer-main h4 {
    color: #fff
}

#footer .footer-desc {
    padding: 0 0 0px
}
#footer .span4 {
    float:left;
}
#footer .span3 {
    float:right;
}
#footer .footer-main .container-fluid {
    padding:5px 60px 0px 60px;
}
#footer .footer-desc .logo-footer {
    padding: 0 0 15px
}
#footer .footer-desc .logo-footer a {
    max-width: 268px;
    display: block
}
#footer .footer-desc p {
    font-size: 16px;
    color: #8f1718;
    line-height: 22px
}
#footer .footer-desc .readmore {
    margin: 0
}
#footer .footer-desc .readmore a {
    color: #ffffff
}

#footer .footer-nav {
    padding: 0 0 20px
}
#footer .footer-nav > ul {
    list-style: none;
    padding: 5px 0 0;
    margin: 0
}
#footer .footer-nav > ul > li {
    padding: 5px 0
}
#footer .footer-nav > ul > li a {
    font-size: 16px;
    color: #ffffff;
    line-height: 23px;
    display: inline-block
}

#footer .social-media {
    padding: 0 0 20px
}
#footer .social-media > ul {
    list-style: none;
    padding: 11px 0 0;
    margin: 0
}
#footer .social-media > ul > li {
    padding: 5px 0
}
#footer .social-media > ul > li > a {
    font-size: 16px;
    color: #ffffff;
    line-height: 36px;
    display: inline-block
}
#footer .social-media > ul > li > a > .media-icon {
    width: 36px;
    height: 36px;
    font-size: 17px;
    background: #ffffff;
    -webkit-border-radius: 18px;
       -moz-border-radius: 18px;
            border-radius: 18px;
    display: block;
    text-align: center
}
#footer .social-media > ul > li > a > .media-icon > .fa {
    vertical-align: middle
}
#footer .social-media > ul > .smedia-01 > a > .media-icon {
    color: #4a6ea9
}
#footer .social-media > ul > .smedia-02 > a > .media-icon {
    color: #55acee
}
#footer .social-media > ul > .smedia-03 > a > .media-icon {
    color: #d44132
}
#footer .social-media > ul > .smedia-04 > a > .media-icon {
    color: #bd081c
}
#footer .social-media > ul > li > a:hover,
#footer .social-media > ul > li > a:focus {
    color: inherit;
    text-decoration: none
}
#footer .social-media > ul > li > a:hover .media-icon,
#footer .social-media > ul > li > a:focus .media-icon {
    color: #ffffff;
    background: inherit
}

#footer .footer-contact {
    padding: 0 0 20px
}
#footer .footer-contact h4 {
    margin-bottom: 19px
}
#footer .footer-contact p {
    color: #fff;
    line-height: 24px;
    margin: 0
}
#footer .footer-contact p > a {
    color: #fff;
    text-decoration: underline
}
#footer .footer-contact p > a:hover,
#footer .footer-contact p > a:focus {
    text-decoration: none
}
#footer .footer-contact p i {
    margin-right: 4px
}
.dir-rtl #footer .footer-contact p i {
    margin-right: 0;
    margin-left: 4px
}

#footer .footer-foot {
    background: #8f1718;
    padding: 8px 0
}
#footer .footer-foot p {
    color: #ffffff;
    margin: 0
}
#footer .footer-foot p a {
    color: #ffffff;
	text-decoration: underline;
}
@media (max-width: 767px) {
    #footer {
        margin-right: -20px;
        margin-left: -20px
    }
	#footer .footer-main {
        padding-right: 20px;
        padding-left: 20px;
        text-align: center
    }
    #footer .footer-foot {
        padding-right: 20px;
        padding-left: 20px
    }
	#footer .footer-desc .logo-footer a {
        margin: 0 auto
    }
    #footer .social-media > ul > li {
        display: inline-block
    }
    #footer .social-media > ul > li + li {
        margin-left: 5px
    }
    #footer .social-media > ul > li > a .media-name {
        display: none
    }
}
@media (min-width: 768px) {
	#footer .social-media > ul > li > a {
        padding-left: 42px;
        position: relative
    }
	.dir-rtl #footer .social-media > ul > li > a {
        padding-right: 42px;
        padding-left: 0
    }
	#footer .social-media > ul > li > a > .media-icon {
        position: absolute;
        top: 0;
        left: 0
    }
	.dir-rtl #footer .social-media > ul > li > a > .media-icon {
        left: auto;
        right: 0
    }
}