body{
    font-family: "Microsoft YaHei";
    padding: 0;
    margin: 0;
}
div{
	padding: 0;
    margin: 0;
}
a{text-decoration:none}

/*头部导航*/
.header-top{
    width: 100%;
    height: 100%;
    background: #1e6f46;
}
.header-top .row{
    width: 1300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.header-top .row img{
     width: 255px;
     height: 76px;
     margin-top: 12px;
}
.header-top .logo{
    padding-right: 0;
}
.header-top .head{
    padding-left: 0;
}
.header-top .search-login{
    padding-left: 35px;
}
.header-top .row ul{
    width: auto;
    height:100px;
}
.header-top .row li{
    width: 100px;
    height: 100px;
}
.header-top .row .ul-a{
    text-decoration:none;
    color: white;
    font-size: 21px;
    position: relative;
    top: 33px;
    left: 23px;
}
.header-top .row .ul-a1{
    text-decoration:none;
    color: white;
    font-size: 21px;
    position: relative;
    top: 33px;
    left: 1px;
}
.header-top .row li:hover{
    background: #126141;
}
.header-top .row .search{
    width: 50%;
    height: auto;
    position: relative;
    top: 33px;
    left: 10px;
}
.header-top .row .login{
    width: 40%;
    height: auto;
    position: relative;
    top: 5px;
    left: 250px;
}
.header-top .row .login a{
    text-decoration:none;
    color: lightgoldenrodyellow;
    font-size: 16px;
}
.header-top .row .login span{
    color: white;
}
.header-top .row .login-1{
    width: 40%;
    height: auto;
    position: relative;
	top: -20px;
    left: 220px;
}
.header-top .row .login-1 a{
    text-decoration:none;
    color: lightgoldenrodyellow;
    font-size: 16px;
}
.header-top .row .login-1 span{
    color: white;
}
.header-top .row .login-1 img{
    width:40px;
}
/*图片轮播*/
.swiper-container {
    width: 100%;
    height: 490px;
    margin-left: auto;
    margin-right: auto;
	position:relative;
	top:-22px;
}
.swiper-slide {
    width: 1205px;
    height: 490px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    -webkit-justify-content: center;
}
.swiper-slide img{
    height: 100%;
	display:block;
}

/*登录页面*/
.login-form{
    width:400px;
    height:auto;
    padding: 20px;
}
.login-form .yanzhen{
    width:210px;
    float: left;
}
.login-form .ma{
    float: right;
}
.login-form .form-control{
	height:43px;
}
#login-div-1{
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
#login-div-2{
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
/*热门课程*/
.hot-class-p{
    border-bottom: 1px solid #d4d4d4 ;
    padding-bottom: 10px;
}
.hot-class-text{
    padding-bottom: 6px;
    font-size: 36px;
    line-height: 130%;
    border-bottom: 6px solid orange;
}
.hot-class-row{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 30px;
}
/*课程页面*/
.m-nav{
    width: 930px;
    height: 129px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 5px;
    padding-right: 5px;
    background: #f7f7f7;
}
.m-nav .m-nav-btn{
    width: 920px;
}
.m-nav .m-nav-btn .btn{
    width: 130px;
    height: 34px;
}
.m-nav span{
    font-size: 16px;
    color: #333;
}
.m-nav .btn-group a{
    text-decoration: none;
}
.m-nav i{
    color: #333;
}
.class-media{
    width: 930px;
    height: 150px;
	margin-top: 16px;
}
.class-media-name{
    font-size: 20px;
    font-weight: bold;
}
.class-media-teacher{
    font-size: 12px;
}
.class-media-contain{
    font-size: 13px;
}
.class-media-student{
    padding-top: 35px;
}
.class-media-student i{
    font-size: 18px;
}

/*课程展示页面*/
.hd-header{
    width: 100%;
    height: 212px;
    background: black;
}
.hd-fix{
    width: 1200px;
    height: 212px;
    margin-left: auto;
    margin-right: auto;
}
.hd-fix .hd-title h2{
    font-size: 32px;
    line-height:31px;
    color: #fff;
}
.hd-fix .hd-title{
    position: relative;
    top: 40px;
    left: 30px;
}
.hd-fix .hd-check{
    position: relative;
    top: 95px;
    left: 30px;
}
.hd-fix .hd-check p{
    color: white;
    text-align: center;
    line-height: 140%;
}
.hd-fix .hd-check .hd-check-1{
    border-right: 1px solid white;
    height: 46px;
}
.class-contain-text-div .class-contain-text{
    font-size: 14px;
    color: #4d555d;
    line-height: 28px;
    padding: 0;
    margin: 0;
}
.class-contain-text-div{
    width: 824px;
    height: 56px;
    padding-left: 26px;
    padding-right: 26px;
}
.class-contain-btn-div{
    width: 824px;
    height: 56px;
    padding-left: 10px;
    padding-right: 10px;
}
.class-contain-btn-div a{
    display: block;
}
.class-contain-btn-div span{
    font-size: 20px;
    color: black;
}
.chapter{
	width:auto;
	height: auto;
	margin-bottom:30px;
	margin-left:13px;
}
.chapter-head{
    width: 756px;
    height: 45px;
    padding-left: 10px;
}
.chapter-contain{
    width: 712px;
    height: 40px;
	margin-top: 10px;
    margin-left: 30px;
    background: #f3f5f7;
    padding-left: 15px;
    padding-top: 8px;
}
.chapter-contain a{
    text-decoration: none;
    color: #93999f;
    font-size: 14px;
}
/*footer*/
.My-footer{
    background: #1e6f46;
    width: 100%;
    height: 180px;
}
.My-footer .row{
    width: 1349px;
    height: auto;
}
.My-footer .footer-logo{
    margin-top: 30px;
}
.My-footer .footer-logo p{
    margin-top: 15px;
    margin-left: 8%;
    font-size: 18px;
    color: white;
}
.My-footer .footer-contain{
    margin-top: 30px;
}
.My-footer .footer-contain h3{
    border-left: 2px solid white;
    color: white;
}
.My-footer .footer-contain p>a{
   text-decoration: none;
    color: white;
}
.copyright{
    width: 100%;
    height: 20px;
    background: black;
}
.copyright p{
    text-align: center;
    color: white;
}

