    <footer class="My-footer">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 footer-logo">
                <img src="{$Think.const.ADMIN_IMG_URL}logo.png" alt="">
                <p>湖北大学网络课程平台</p>
            </div>
            <div class="col-md-6 col-md-offset-1 footer-contain" >
                <h3>&nbsp;友情链接</h3>
                <p><a href="#">湖北大学教务处</a>&nbsp;&nbsp;&nbsp;<a href="#">湖北大学教务处</a></p>
                <p><a href="#">湖北大学教务处</a>&nbsp;&nbsp;&nbsp;<a href="#">湖北大学教务处</a></p>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p>©版权所有 | 湖北大学计算机与信息工程学院 | POWER BY 周博文 郑志琦 童天相</p>
    </div>
