    <div class="header-top">
    <div class="row">
        <div class="col-md-2 col-md-offset-1 logo">
            <img class='header-img' src="{$Think.const.ADMIN_IMG_URL}logo.png" alt="">
        </div>
        <div class="col-md-4 col-md-offset-1 head">
            <ul class="list-inline">
                <li><a class="ul-a" href="{$Think.const.SITE_URL}index.php">首页</a></li>
                <li><a class="ul-a" href="{$Think.const.SITE_URL}index.php/Student/Course/index">课程</a></li>
                <li><a class="ul-a" href="{$Think.const.SITE_URL}index.php/Student/Occupation/index">职业</a></li>
                <li><a id="appurl" rel="popover" class="ul-a1" data-content="<img src='{$Think.const.ADMIN_ROOT_URL}Uploads/default/app.png' style='width:100px;height:auto;margin-left:auto;margin-right:auto;'>" href="javascript:void(0)"><span class="glyphicon glyphicon-phone"></span>客户端</a></li>
            </ul>
        </div>
        <div class="col-md-4 search-login">
            <form name="feedback" method="post" action="__MODULE__/Search/search">
			<div class="search">
                <div>
                    <div class="input-group">
                            <div class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
							</div>
                            {/**搜索框的表单,通过post提交到后台*/}         
                        		<input type="text" class="form-control" placeholder="输入课程关键字" name="search" id="search">
                        	</form>
                    </div>
                </div>
                <div>
                </div>
            </div>
            {/**此处做一个判断，用session来判断，如果用户登录了，这里就不显示登录注册，直接显示用户的头像以及姓名，同时，点击头像后跳转到个人中心*/}
            <if condition = "isset($_SESSION['student_user_username'])">
            	{/**student_user_username 值不为空，说明用户已经登陆了,这里就显示用户的头像以及用户名*/}
            	
            	<div class="login-1">
	                <a id="user" href='__MODULE__/I/index' target='_blank'>{$Think.session.student_user_username}{/**这里是用户名*/}</a>
	                <img src="{$Think.const.ADMIN_IMG_UPLOADS}{$Think.session.student_user_pic}" alt="..." class="img-circle" width='40px'>{/**左边这两个结合返回的是用户头像的URL地址*/}
					<a href='{$Think.const.SITE_URL}index.php/Student/StudentUser/logout'>注销</a>
	            </div>
            
            <else />
            	{/**用户没有登陆*/}
	            <div class="login">
	                <a href="#" data-toggle="modal" data-target="#myModal" >登录</a>{/**<!-- 这里点击链接后弹出下面的登录框，注册也是一样哒 -->*/}
	                <span>&nbsp;|&nbsp;</span>
	                <a href="#" data-toggle="modal" data-target="#myModal2">注册</a>
	            </div>
            </if>
        </div>
    </div>
    </div>
    
    {/**<!-- 这里我把登陆以及注册的简单表单写在这里，回头改一下，我觉得改成那种点击登陆后，像alert弹出来登陆表单就行，jquery就可以实现，后期你想咋改随意昂，表单我先塞这儿 -->*/}
    {/*学生用户登录的表单*/}
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form class="login-form" name="login" method="post" action="{$Think.const.SITE_URL}index.php/Student/StudentUser/login">
        <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title text-center" id="myModalLabel">登录</h4> </div>
				<div class="modal-body">
					<div id='login-div-1'>
						<p>
                            <label class="sr-only" for="student_user_email">Email address</label>
                            <input type="email" class="form-control" id="student_user_email" placeholder="邮箱" name="student_user_email">
                        </p>
						<p>
                            <label class="sr-only" for="student_user_pwd">PassWord</label>
                            <input type="password" class="form-control" id="student_user_pwd" placeholder="密码" name="student_user_pwd">
                        </p>
    {/**<!-- 下面验证码如果直接使用AdminUser控制器里面书写的verifyImg方法 就需要跨分组调用,为逻辑简单，我们在Student写一个一模一样的验证码教研方法-->*/}
					<div>
						<div class="yanzhen">
                                <input type="text" class="form-control"  placeholder="填写右侧的验证码" name="code" data-validate="required:请填写右侧的验证码">
                        </div>
        {/**<!-- 这里的验证码直接用ThinkPHP的变量替换 -->*/}
						<div class="ma">
                            <img src="{$Think.const.SITE_URL}index.php/Student/StudentUser/verifyImg" alt=""   class="passcode" style="height:43px;cursor:pointer;" onclick="this.src=this.src+'?'">
                        </div>
					</div>
                </div>
            </div>
			<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭窗口</button>
                <button type="submit" class="btn btn btn-primary" name="submit" id="submit" >点击登录</button>
			</div>
		</div>
		</form>
    </div>
	</div>
    <br />
    {/*学生用户注册的表单*/}
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		<form class="login-form" name="register" method="post" action="{$Think.const.SITE_URL}index.php/Student/StudentUser/register">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title text-center" id="myModalLabel">注册</h4>
		</div>
		<div class="modal-body">
		<div id="login-div-2">
			<p>
				<label class="sr-only" for="student_user_email">Email address</label>
				<input type="email" class="form-control" id="student_user_email" placeholder="注册邮箱" name="student_user_email">
			</p>
			<p>
				<label class="sr-only" for="student_user_pwd2">PassWord</label>
				<input type="password" class="form-control" id="student_user_pwd2" placeholder="密码" name="student_user_pwd2">
			</p>
			<p>
				<label class="sr-only" for="student_user_pwd">PassWord</label>
				<input type="password" class="form-control" id="student_user_pwd" placeholder="重复密码" name="student_user_pwd">
			</p>
		<div>
            <div class="yanzhen">
				<input type="text" class="form-control"  placeholder="填写右侧的验证码" name="code" data-validate="required:请填写右侧的验证码">
            </div>
            {/**<!-- 这里的验证码直接用ThinkPHP的变量替换 -->*/}
            <div class="ma">
				<img src="{$Think.const.SITE_URL}index.php/Student/StudentUser/verifyImg" alt=""  class="passcode" style="height:43px;cursor:pointer;" onclick="this.src=this.src+'?'">
            </div>
		</div>
		</div>
	</div>		
		<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭窗口</button>
        <button type="submit" class="btn btn btn-primary" name="submit" id="submit" >点击登录</button>
	</div>
	</div>
        </form>
		</div>
	</div>