<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img id="img" src="{$Think.const.ADMIN_IMG_URL}1.jpg" alt="" data-adaptive-background></div>
        <div class="swiper-slide"><img id="img" src="{$Think.const.ADMIN_IMG_URL}2.jpg" alt="" data-adaptive-background></div>
        <div class="swiper-slide"><img id="img" src="{$Think.const.ADMIN_IMG_URL}3.jpg" alt="" data-adaptive-background></div>
        <div class="swiper-slide"><img id="img" src="{$Think.const.ADMIN_IMG_URL}4.jpg" alt="" data-adaptive-background></div>
        <div class="swiper-slide"><img id="img" src="{$Think.const.ADMIN_IMG_URL}5.jpg" alt="" data-adaptive-background></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>