<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的课程</title>
</head>
<body>
	<table>
      <tr>
        <th>ID</th>
        <th>课程名称</th>
        <th>选课人数</th>
        <th>操作</th>
      </tr>
      {/*下面使用模板循环输出相应课程的信息*/}
      <foreach name='course_list' item='course_list'>
         <tr>
          <td>{$course_list.course_name_id}</td>
          <td>{$course_list.course_name_name}</td>
          <td>{$course_list.course_name_choose_count}</td>
          <td><a href = "__MODULE__/Da/showChooseCourseList/course_name_id/{$course_list.course_name_id}">查看学生名单</a></td>
        </tr>
      </foreach>
    </table>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>