<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{$course_info.course_name_name}-课程章节{/**网页标题也展示这门课的信息*/}</title>
	<link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}main.css">
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.js'></script>
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.adaptive-backgrounds.js'></script>
    <script src="{$Think.const.ADMIN_ROOT_URL}layui/lay/dest/layui.all.js"></script>
</head>
<body>
	{/**下面这个header*/}
	<include file="Public/header" />
   <div>
        <div class="hd-header">
        <div class="hd-fix">
            <div class="hd-title"><h2>{$course_info.course_name_name}</h2></div>
            <div class="hd-check">
                <div class="row">
                    <div class="col-md-1">
                    <a href = "#" class="btn btn-success btn-lg">点击开始学习{/**，加入到已选课程。have choosed*/}</a>
                    </div>
                    <div class="col-md-1 col-md-offset-1 hd-check-1">
                        <p>学习人数</p>
                        <p>211231</p>
                    </div>
                    <div class="col-md-1 hd-check-1">
                        <p>课程节数</p>
                        <p>211231</p>
                    </div>
                    <div class="col-md-1">
                        <p>课程难度</p>
                        <p>211231</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="class-contain-text-div"><p class="class-contain-text">简介:{$course_info.course_name_intro}{/**这里是课程简介*/}</p></div>
<div class="class-contain-btn-div">
<div class="btn-group">
<a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/section_chapter/course_name_id/{$course_info.course_name_id}" class="btn btn-link" target="content_block" style="text-decoration: none;"><span>章节</span></a>
<a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/comment" class="btn btn-link" target="content_block" style="text-decoration: none;"><span>评论留言</span></a>
<a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/note" class="btn btn-link" target="content_block" style="text-decoration: none;"><span>笔记</span></a>
</div>
</div>
	
	
	{/*下面使用的是iframe,默认显示的是章节板块的内容，使用的是另一个section_chapter模板，模板名称一样，但内容不一样,我这里长宽就写死了，需要改成自适应的*/}
	<div>
		<iframe id="iframepage" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" onLoad="iFrameHeight()" src="{$Think.const.SITE_URL}index.php/Student/CourseChapter/section_chapter/course_name_id/{$course_info.course_name_id}" name="content_block"></iframe>
	</div>
	
	{/*这里放置的是bottom*/}
 <include file="Public/footer" />
<script src="{$Think.const.ADMIN_JS_URL}swiper-3.4.0.jquery.min.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}imgturn.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}layer.js"></script>
<script type="text/javascript" language="javascript">   
function iFrameHeight() {   
var ifm= document.getElementById("iframepage");   
var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;   
if(ifm != null && subWeb != null) {
   ifm.height = subWeb.body.scrollHeight;
   ifm.width = subWeb.body.scrollWidth;
}   
}   
</script>
</body>
</html>