<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{$course_info.course_name_name}-课程章节{/**网页标题也展示这门课的信息*/}</title>
	<meta name="renderer" content="webkit">
	<link rel="icon" href="{$Think.const.SITE_URL}/favicon.ico" type="image/x-icon" />
	<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}main.css">
	<link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}font-awesome.min">
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.js'></script>
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jqmeter.min.js'></script>
</head>
<body>
	{/**下面这个header*/}
	<include file="Public/header" />
<div class='hd-header-img' id='{$Think.const.ADMIN_IMG_URL}topimage.jpg'></div>{/*课程图片的URL地址*/}
   <div class='hd-header-top'>
        <div class="hd-header ">
        <div class="hd-fix">
            <div class="hd-title"><h2>{$course_info.course_name_name}</h2></div>
            <div class="hd-check">
                <div class="row" style='width:1150px;'>
                    <div class="col-md-1">
                    {/**这里作出判断，如果学生已经选择了这门课程则展示“继续学习”并且按钮为空连接，没有选择就展示“点击开始学习”，点击后触发选择此课程的方法写入一条数据到数据库*/}
                    <if condition="empty($check)">
                    	<a href = "__MODULE__/CourseChapter/chooseCourse/course_name_id/{$course_info.course_name_id}" class="btn btn-success btn-lg">点击开始学习{/**加入到已选课程*/}</a>
                    <else />
                    	<a href = "javascript:void(0)" class="btn btn-success btn-lg">继续学习{/**加入到已选课程*/}</a>
                    </if>
                    </div>
                    <div class="col-md-1 col-md-offset-1 hd-check-1">
                        <p>学习人数</p>
                        <p>{$choosed_count}</p>
                    </div>
                    <div class="col-md-1 hd-check-1">
                        <p>课程节数</p>
                        <p>{$chapter_count}</p>
                    </div>
                    <div class="col-md-1">
                        <p>课程评分</p>
                        <p>{$course_score}</p>
                    </div>
                </div>
            </div>
            <if condition = "isset($_SESSION['student_user_username'])">
			<div class="pull-right" style='width:280px;height:100px;position:relative;bottom:75px;'>
                        <h2 class='text-center'  style='color:white'>课程进度</h2>
						<br><br>
                        <p class='text-center' style='color:white;font-size:30px;margin-top:10px;'>{$course_progress}%</p>
            </div>
            </if>
        </div>
        </div>
        {/**用户登录了就展示进度条，不登录就不展示*/}
        <if condition = "isset($_SESSION['student_user_username'])">
		<div class="progress" style='height:50px;border-radius:0;margin-bottom:0;'>
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {$course_progress}%;min-width: 11em;">
			<span style="font-size:21px;position:relative;top:14px;">课程进度：{$course_progress}%<span>
			</div>
		</div>
        </if>
    </div>

<div class='CourseChapter-row center-block row'>
<div class='col-lg-9'>
<div class="class-contain-text-div"><p class="class-contain-text">简介:{$course_info.course_name_intro}{/**这里是课程简介*/}</p></div>
	<div class="class-contain-btn-div">
		<div class="btn-group">
			<a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/section_chapter/course_name_id/{$course_info.course_name_id}" class="btn btn-link" target="content_block" style="text-decoration: none;"><span>章节</span></a>
			<a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/comment" class="btn btn-link" target="content_block" style="text-decoration: none;"><span>评论留言</span></a>
			<a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/note" class="btn btn-link" target="content_block" style="text-decoration: none;"><span>笔记</span></a>
		</div>
	</div>
	
	
	{/*下面使用的是iframe,默认显示的是章节板块的内容，使用的是另一个section_chapter模板，模板名称一样，但内容不一样,我这里长宽就写死了，需要改成自适应的*/}
	<div>
		<iframe id='chapter' frameborder="0" scrolling="no"  src="{$Think.const.SITE_URL}index.php/Student/CourseChapter/section_chapter/course_name_id/{$course_info.course_name_id}" name="content_block" width='824px;'></iframe>
	</div>
</div>
</div>
	<script>
	$("#chapter").load(function(){
	var mainheight = $(this).contents().find("body").height();
	$(this).height(mainheight);
	});
	var imgurl = $('.hd-header-img').attr('id');
    $('.hd-header').css("background-image","url("+imgurl+")");
	</script>
	{/*这里放置的是bottom*/}
 <include file="Public/footer" />
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}swiper-3.4.0.jquery.min.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}imgturn.js"></script>
<script src="{$Think.const.ADMIN_JS_URL}layer.js"></script>
</body>
</html>