<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CourseChapter-课程章节信息展示模板</title>
</head>
<body>
	<div><h2>课程名称</h2></div>
	<div><a href = "#">点击开始学习</a>，加入到已选课程。have choosed</div>
	<div>简介：这里是课程简介</div>
	
	<div><a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/section_chapter" target="content_block"><b>章节</b></a></div>
	<div><a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/comment" target="content_block"><b>评论留言</b></a></div>
	<div><a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/note" target="content_block"><b>笔记</b></a></div>
	
	
	{/*下面使用的是iframe,默认显示的是章节板块的内容,我这里长宽就写死了，需要改成自适应的*/}
	<div>
		<iframe scrolling="no" frameborder="0" src="{$Think.const.SITE_URL}index.php/Student/CourseChapter/section_chapter" name="content_block" width="100%" height="400"></iframe>
	</div>
	
	
</body>
</html>