<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>hotCourse-热门课程</title>
 <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}bootstrap.min.css">
 <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}main.css">
</head>
<body>
	<p class="hot-class-p text-center"><span class="hot-class-text">热门课程</span></p>
	<div class="row hot-class-row">
		<foreach name='hot' item='hot'>
			<div class="col-lg-4 hot-class-col" >	
				<div class="hot-class-contain">
				<a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/index/course_name_id/{$hot.course_name_id}" target='_blahk'><img alt="..." src="{$Think.const.ADMIN_IMG_UPLOADS}{$hot.course_name_pic}" width="260px" height="150px"></a>
				<div>课程名称：{$hot.course_name_name}</div>
				<div>讲师：{$hot.course_name_adder}</div>
				<div>1120人参加</div>
				<div>课程简介：{$hot.course_name_intro}</div>
				</div>
			</div>
		</foreach>
	</div>
		<hr>
		<div><h2><a href='__MODULE__/Course/index' target='_blank'>查看更多课程</a></h2></div>
	</div>
</body>
</html>
