<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}main.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_ROOT_URL}layui/css/layui.css">
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.js'></script>
	<script src="{$Think.const.ADMIN_ROOT_URL}layui/lay/dest/layui.all.js"></script>  
    <script type="text/javascript">

        $(document).ready(function(){
            $.adaptiveBackground.run();	
        });

    </script>

</head>
<body>
    <!--头部-->
    <div class="header-top">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 logo">
                <img src="{$Think.const.ADMIN_IMG_URL}logo.png" alt="">
            </div>
            <div class="col-md-4 col-md-offset-1 head">
                <ul class="list-inline">
                    <li><a class="ul-a" href="{$Think.const.SITE_URL}index.php">首页</a></li>
                    <li><a class="ul-a" href="{$Think.const.SITE_URL}index.php/Student/Course/index">课程</a></li>
                    <li><a class="ul-a" href="{$Think.const.SITE_URL}index.php/Student/Occupation/index">职业</a></li>
                    <li><a class="ul-a1" href=""><span class="glyphicon glyphicon-phone"></span>客户端</a></li>
                </ul>
            </div>
            <div class="col-md-4 search-login">
                <div class="search">
                    <div>
                        <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="login">
                    <a id='login' href="#">登录</a><!-- 这里点击链接后弹出下面的登录框，注册也是一样哒 -->
                    <span>&nbsp;|&nbsp;</span>
                    <a id='login2' href="#">注册</a>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>



    {/*学生用户登录的表单*/}
    <div id='login-div-1'>
        <form class="login-form" name="login" method="post" action="index.php/Student/StudentUser/login">
            <p>
                <label class="sr-only" for="student_user_email">Email address</label>
                <input type="email" class="form-control" id="student_user_email" placeholder="邮箱" name="student_user_email">
            </p>
            <p>
                <label class="sr-only" for="student_user_pwd">PassWord</label>
                <input type="password" class="form-control" id="student_user_pwd" placeholder="密码" name="student_user_pwd">
            </p>
            <!-- 下面验证码如果直接使用AdminUser控制器里面书写的verifyImg方法 就需要跨分组调用,为逻辑简单，我们在Student写一个一模一样的验证码教研方法-->
            <div>

                <div class="yanzhen">
                    <input type="text" class="form-control"  placeholder="填写右侧的验证码" name="code" data-validate="required:请填写右侧的验证码">
                </div>
                <!-- 这里的验证码直接用ThinkPHP的变量替换 -->
                <div class="ma">
                    <img src="{$Think.const.SITE_URL}index.php/Student/StudentUser/verifyImg" alt=""   class="passcode" style="height:43px;cursor:pointer;" onclick="this.src=this.src+'?'">
                </div>
            </div>
            <br/><br/><br/>
            <p>
                <button type="submit" class="btn btn-success btn-lg btn-block" name="submit" id="submit" >点击登录</button>
            </p>
        </form>
    </div>
    <br />
    {/*学生用户注册的表单*/}
    <div id="login-div-2">
        <form class="login-form" name="register" method="post" action="index.php/Student/StudentUser/register">
            <p>
                <label class="sr-only" for="student_user_email">Email address</label>
                <input type="email" class="form-control" id="student_user_email" placeholder="注册邮箱" name="student_user_email">
            </p>
            <p>
                <label class="sr-only" for="student_user_pwd2">PassWord</label>
                <input type="password" class="form-control" id="student_user_pwd2" placeholder="密码" name="student_user_pwd2">
            </p>
            <p>
                <label class="sr-only" for="student_user_pwd">PassWord</label>
                <input type="password" class="form-control" id="student_user_pwd" placeholder="重复密码" name="student_user_pwd">
            </p>

            <div>
                <div class="yanzhen">
                    <input type="text" class="form-control"  placeholder="填写右侧的验证码" name="code" data-validate="required:请填写右侧的验证码">
                </div>
                <!-- 这里的验证码直接用ThinkPHP的变量替换 -->
                <div class="ma">
                    <img src="index.php/Student/StudentUser/verifyImg" alt=""  class="passcode" style="height:43px;cursor:pointer;" onclick="this.src=this.src+'?'">
                </div>
            </div><br/><br/><br/>
            <p>
                <button type="submit" class="btn btn-success btn-lg btn-block" name="submit" id="submit" >点击注册</button>
            </p>

        </form>
    </div>

<script src="{$Think.const.ADMIN_JS_URL}layer.js"></script>
</body>
</html>