<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="renderer" content="webkit">
    <title>{$chapter_info.course_chapter_name}{/**章节名称*/}</title>
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}bootstrap.min.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}main.css">
	<link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}font-awesome.min">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}scroll.css">
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.js'></script>
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.adaptive-backgrounds.js'></script>
	<style>
	.player{
	position:relative;
	top:-22px;
	}
	</style>
</head>
<body>
	{/**下面这个header*/}
	<include file="Public/header" />
	{/***************建议这个视频播放页面，不同模块就都尽量写在一个页面里面，不然参数传递会特别的麻烦，我试过分开写成不同的.html，然后又改成现在只写一个页面了**********************/}
	{/**video播放模块*/}
	<!-- <div>
		{/*下面直接使用的H5的video标签，是为了兼容移动端，移动端没有Flash，播放器样式要调整，禁止视频下载*/}
		<video src="{$Think.const.ADMIN_IMG_UPLOADS}{$chapter_info.course_chapter_video_url}" controls="controls">浏览器不支持HTML5,请更换成Chrome浏览器</video>
	</div> -->
	
	{/**video模板，载入时涉及参数传递，就不使用include了*/}
	<div class='player'>
	<div class='pull-left'>
		{/**视频链接，这里的src要写一个方法，用videoPlayer() 方法来控制模版的输出*/}
    	<iframe 
							id="iframepage1" 
							frameborder="0"  
							marginheight="0" 
							allowscriptaccess="always"
                            allowfullscreen="true"
                            wmode="opaque"
                            allowTransparency="true"
							marginwidth="0" 
							src="__MODULE__/Video/videoPlayer/video_url/{$chapter_info.course_chapter_video_url}/course_id/{$chapter_info.course_id}/chapter_id/{$chapter_info.chapter_id}/student_id/{$chapter_info.student_id}/chapter_current_time/{$chapter_info.chapter_current_time}" 
							name="videoPlayer" 
							width='auto' 
							height='620px'>
		</iframe>
    </div>
	<script>
	var iframeWidth1 = $(window).width()* 0.8 ;
	$("#iframepage1").width(iframeWidth1);
	</script>
	<!-- {/**课程章节列表*/}
	<div class="video-controler scrollbar pull-left">
		<foreach name = 'section_chapter' item = 'section_chapter'>
			<ul class="video-controler-ul">
			 <li class="video-controler-ul-first"><span class="video-controler-ul-title">{$Think.lang.$key}{/*这个是输出数组键名*/}</span></li>
			<foreach name = 'section_chapter' item = 'section_chapter'>
				{/*下面这个链接地址应该是，在点击后，视频播放界面的播放内容变为相应节的视频，和imooc视频播放界面一样，看能否用JS在这里实现点击后，更改上述video标签的url值，如果可以,下面就是视频url，如果不行，就再想其他方案*/}
				 <li class="video-controler-ul-li">
					 <a href="__MODULE__/Video/videoPlayer/video_url/{$section_chapter.course_chapter_video_url}/course_id/{$section_chapter.course_id}/chapter_id/{$section_chapter.chapter_id}/student_id/{$section_chapter.student_id}/chapter_current_time/{$section_chapter.chapter_current_time}" 
					 target = "videoPlayer">{$section_chapter.course_chapter_name}</a>
				 </li>
			</foreach>
		 </ul>
		</foreach>
	</div> -->
	<script>
	var iframeWidth2 = $(window).width() * 0.2;
	$(".video-controler").width(iframeWidth2);
	</script>
	</div>
	<!-- {/*下面是章节列表信息的展示，与CourseChapter控制器里面的章节列表信息相同，数据源相同，但是使用的模板文件不同,两个模板文件样式不一样*/}
	<div>
		<iframe scrolling="no" frameborder="0" src="__MODULE__/Video/section_chapter" name="section_chapter" width="100%" height="600"></iframe>
	</div> -->
	
	
	<div class="clearfix">
	{/*下面是评论留言，笔记，教学资料，三个板块*/}
	<div class="class-contain-btn-div">
		<div class="btn-group">
	<a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/comment" class="btn btn-link" target="content_block" style="text-decoration: none;"><span>评论留言</span></a>
	<a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/note" class="btn btn-link" target="content_block" style="text-decoration: none;"><span>笔记</span></a>
	<a href="__MODULE__/Video/studyingData" class="btn btn-link" target="content_block" style="text-decoration: none;"><span>教学资料</span></a>
		</div>
	</div>
	<div >
		<iframe scrolling="no" frameborder="0" src="{$Think.const.SITE_URL}index.php/Student/CourseChapter/comment" name="content_block" width='824px;' height="600px" style='margin-top:60px;margin-left:20px;'></iframe>
	</div>
	{/*这里放置的是bottom*/}
 <include file="Public/footer" />
	<div>
	<script src="{$Think.const.ADMIN_JS_URL}bootstrap.min.js"></script>
	<script src="{$Think.const.ADMIN_JS_URL}swiper-3.4.0.jquery.min.js"></script>
	<script src="{$Think.const.ADMIN_JS_URL}imgturn.js"></script>
	<script src="{$Think.const.ADMIN_JS_URL}layer.js"></script>
</body>
</html>