<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精品推荐</title>
	<meta name="renderer" content="webkit">
	<link rel="icon" href="{$Think.const.SITE_URL}/favicon.ico" type="image/x-icon" />
	<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}main.css">
    <script type="text/javascript" src='{$Think.const.ADMIN_JS_URL}jquery.js'></script>
</head>
<body>
	<!--<a href='http://web.hubu.edu:3002/index.php/Student/Recommended/recommended' target='_blank'>精品推荐，方便调试，弄好后直接删了</a>-->
	<p class="recommended-class-p text-center"><span class="recommended-class-text">精品课程</span></p>
	
	{/**下面计算机是一个类别，然后相应的下面我会输出一个类别为计算机的课程，其中计算机类别ID为1，经济管理为2，以此类推，这样可以使用这个来对应两者关系*/}
	<div class="recommended row">
    <div class="recommended-left pull-left">
        <div class="list-group">
            <a href="#1" aria-controls="1" role="tab" data-toggle="tab"  class="list-group-item list-group-item-hover"><i class="glyphicon glyphicon-inbox"></i>&nbsp;<span>计算机</span></a>
            <a href="#2" aria-controls="2" role="tab" data-toggle="tab"  class="list-group-item"><i class="glyphicon glyphicon-euro"></i>&nbsp;<span>经济管理</span></a>
            <a href="#6" aria-controls="6" role="tab" data-toggle="tab"  class="list-group-item"><i class="glyphicon glyphicon-pencil"></i>&nbsp;<span>艺术设计</span></a>
            <a href="#7" aria-controls="7" role="tab" data-toggle="tab"  class="list-group-item"><i class="glyphicon glyphicon-wrench"></i>&nbsp;<span>工学</span></a>
            <a href="#8" aria-controls="8" role="tab" data-toggle="tab"  class="list-group-item"><i class="glyphicon glyphicon-wrench"></i>&nbsp;<span>理学</span></a>
            <a href="#9" aria-controls="9" role="tab" data-toggle="tab"  class="list-group-item"><i class="glyphicon glyphicon-tree-conifer"></i>&nbsp;<span>生命科学</span></a>
            <a href='__MODULE__/Course/index' target='_blank' class="list-group-item"><i class="glyphicon glyphicon-menu-hamburger"></i>&nbsp;<span>更多</span></a>
        </div>
    </div>
	<!--<div>
		<p>计算机{/**1*/}</p>
		<p>经济管理{/**2*/}</p>
		<p>艺术设计{/**6*/}</p>
		<p>工学{/**7*/}</p>
		<p>理学{/**8*/}</p>
		<p>生命科学{/**9*/}</p>
		<p><a href='__MODULE__/Course/index' target='_blank'>更多</a></p>
	</div>-->
	
	<div class="recommended-right pull-left tab-content">
		<foreach name='recommended' item='recommended'>
		<div id='{$recommended.course_name_class}' role="tabpanel" class="tab-pane">
			<div class="recommended-right-img"><a href="{$Think.const.SITE_URL}index.php/Student/CourseChapter/index/course_name_id/{$recommended.course_name_id}" target='_blahk'><img alt="..." src="{$Think.const.ADMIN_IMG_UPLOADS}{$recommended.course_name_pic}" width="400px" height="231px"></a></div>
			<div class="recommended-right-class-title text-center"><span class=""><!--课程名称：-->{$recommended.course_name_name}</span></div>
			<div class="recommended-right-class-title text-center"><span class="">讲师：{$recommended.course_name_adder}</span></div>
			<div class="recommended-right-class-title text-center"><span class="">{$recommended.course_name_choosed_num}人参加</span></div>
			<div class="recommended-right-class-contain center-block"><p class=""><!--课程简介：-->{$recommended.course_name_intro}</p></div>
			<div id="{$recommended.course_name_class}1231321213122"><!--课程类别ID，可以用这个值区分不同的课程信息--></div>
		</div>
		</foreach>
	</div>
	
</div>
<script>
	$(window.parent.document).find("#recommended").load(function(){
	var main = $(window.parent.document).find("#recommended");
	var thisheight = $(document).height();
	main.height(thisheight);
	});
	$('#1').addClass('active');
	$('.recommended-left .list-group a').hover(function () {
    $(this).removeClass().addClass("list-group-item list-group-item-hover").siblings().removeClass().addClass('list-group-item');
	$(this).tab('show')
	});
	</script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>