<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit" />
    <title>后台管理中心</title>  
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}pintuer.css">
    <link rel="stylesheet" href="{$Think.const.ADMIN_CSS_URL}admin.css">
    <script src="{$Think.const.ADMIN_JS_URL}jquery.js"></script> 
	<script type="text/javascript">
		<literal>
			$(function(){
			  $(".leftnav h2").click(function(){
				  $(this).next().slideToggle(200);	
				  $(this).toggleClass("on"); 
			  })
			  $(".leftnav ul li a").click(function(){
					$("#a_leader_txt").text($(this).text());
					$(".leftnav ul li a").removeClass("on");
					$(this).addClass("on");
			  })
			});
		</literal>
	</script>
</head>
<body style="background-color:#f2f9fd;">

<!--品字形模板顶部标签 -->
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
  	{/**此处做一个判断，显示默认头像或者其他 */}
    <h1><img src="
	    <if condition = "$Think.session.adminuser_pic eq 'Uploads/default/default_admin_user.jpg'">
	    	{$Think.const.ADMIN_IMG_UPLOADS}{$Think.const.ADMIN_DEFAULT_IMG}
	    <else />
	    	{$Think.const.ADMIN_IMG_UPLOADS}{$Think.session.adminuser_pic}
	    </if>" class="radius-circle rotate-hover" height="50" alt="" />{$Think.session.adminuser_username}，你好！
    </h1>
  </div>
  <div class="head-l">
    <a class="button button-little bg-green" href="{$Think.const.SITE_URL}" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;
	<!-- <a href="##" class="button button-little bg-blue"><span class="icon-wrench"></span> 清除缓存</a> &nbsp;&nbsp; -->
	<a class="button button-little bg-red" href="__MODULE__/AdminUser/logout"><span class="icon-power-off"></span> 退出登录</a>
  </div>
</div>

<!--品字形模板左边标签 -->
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  <h2><span class="icon-user"></span>基本设置</h2>
  <ul style="display:block">
    <li><a href="__MODULE__/AdminUser/updateUserInfo" target="right"><span class="icon-caret-right"></span>修改信息</a></li>
    <li><a href="info.html" target="right"><span class="icon-caret-right"></span>网站设置</a></li>
    <li><a href="page.html" target="right"><span class="icon-caret-right"></span>单页管理</a></li>  
    <li><a href="__MODULE__/ImgTurn/showImgTurnInfo" target="right"><span class="icon-caret-right"></span>首页轮播</a></li>   
    <li><a href="__MODULE__/Feedback/feedback" target="right"><span class="icon-caret-right"></span>留言管理</a></li>     
    <li><a href="column.html" target="right"><span class="icon-caret-right"></span>栏目管理</a></li>
  </ul>   
  <h2><span class="icon-pencil-square-o"></span>课程管理</h2>
  <ul>
    <li><a href="__MODULE__/Course/courseList" target="right"><span class="icon-caret-right"></span>所有课程</a></li>
    <li><a href="__MODULE__/Course/showAddCourse" target="right"><span class="icon-caret-right"></span>添加课程</a></li>
    <li><a href="__MODULE__/Course/addSectionChapter" target="right"><span class="icon-caret-right"></span>添加章节</a></li>
    <li><a href="cate.html" target="right"><span class="icon-caret-right"></span>分类管理</a></li>        
  </ul>  
</div>

<ul class="bread">
  <li><a href="__MODULE__/AdminIndex/userinfo" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">网站信息</a></li>
  <li><b>当前语言：</b><span style="color:red;">中文</php></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;切换语言：<a href="##">中文</a> &nbsp;&nbsp;<a href="##">英文</a> </li>
</ul>

<!--品字形模板右边标签 -->
<div class="admin">
  <!-- 默认显示管理员用户信息的页面__MODULE__/AdminIndex/userinfo -->
  <iframe scrolling="auto" rameborder="0" src="__MODULE__/AdminIndex/userinfo" name="right" width="100%" height="100%"></iframe>
</div>

</body>
</html>